body {
    background: #212121;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.container{
    min-height: 90vh;

}

.registro{
    background: #323232;
    max-width: 600px;
    color: #f5f5f5;
    padding: 3vh;
}

.red {
    color: rgb(239, 68, 68);
}

.formulario{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    margin-bottom: 1rem;
}

.formulario > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.formulario div > input{
    padding: 5px;
    color: #cccccc;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(239, 68, 68);
    transition: .3s;
}

.formulario div > input:focus{
    border: 1px solid rgb(239, 68, 68);
    box-shadow: 0px 0px 10px #131313;
    outline: none;
}

.avatar {
    border: 2px solid rgb(239, 68, 68);
    background-color: #191919;
    width: 70px;
}

.avatar > img{
    max-width: 50px;
    max-height: 50px;
}
.buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
