/* Index Principal : */ 

footer{
    background: black;
}

footer > div{
    min-width: 200px;
}

/* Clases */

.articles{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.special{
    min-width: 210px;
}

.contact{
    color: #b8b8b8;
}

/* Ids */

#facebook {
    background: #4267B2;
    min-height: 60px;
    min-width: 60px;
    text-align: center;
    cursor: pointer; 
}
#facebook:hover{
    background: #2b4476;
    text-shadow: 3px 3px 2px black;
    transition: .2s ease;
}

#youtube{
    background: #FF0000;
    min-height: 60px;
    min-width: 60px;
    text-align: center;
    cursor: pointer; 
}
#youtube:hover{
    background: #b40101;
    text-shadow: 3px 3px 2px black;
    transition: .5s ease;
}

#twitter{
    background: #1DA1F2;
    min-height: 60px;
    min-width: 60px;
    text-align: center;
}
#twitter:hover{
    background: #167ab8;
    text-shadow: 3px 3px 2px black;
    transition: .5s ease;
}

#reddit{
    background: #FF4500;
    min-height: 60px;
    min-width: 60px;
    text-align: center;
    cursor: pointer; 
}
#reddit:hover{
    background: #bf3300;
    text-shadow: 3px 3px 2px black;
    transition: .5s ease;
}
