body {
    background: #212121;
}

.form-reg{
    background: #4f749b;
    box-shadow: 0 0 10px rgba(111, 111, 111, .7);
    min-width: 300px;
    overflow: hidden;
    border-bottom: 2px solid #4f749b;
}

.form-reg form{
    background: #212121;
    padding: 1rem;
}


/* Crud */
.header{
    max-width: 1000px;
}

.data-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 450px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(111, 111, 111, .7);
}

.data-table thead tr{
    background: #4f749b;
    font-weight: bold;
}

.data-table th,
.data-table td{
    padding: 12px 15px;
}

.data-table tbody tr{
    border-bottom: 1px solid rgb(111, 111, 111);
}


.data-table tbody tr:nth-of-type(even) {
    background: #181818;
}

.data-table tbody tr:last-of-type{
    border-bottom: 2px solid #4f749b;
}


/* delete */
.deleteWarning{
    max-width: 700px;
    padding: 1em;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(111, 111, 111, .7);
}


/* vatares: 
avatar -> Div registro de un nuevo avatar 
avatars -> div con las imagenes de los avatares 
*/

.avatar, .avatars{
    box-shadow: 0 0 10px rgba(111, 111, 111, .7);    
}

.avatars{
    width: 70px;
}

.avatars > img{
    max-width: 50px;
    max-height: 50px;
}